<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.1" package="ServicesProvider.ServicesProvider" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26" />
	<application android:label="On Your Service" android:icon="@drawable/icon1"></application>
</manifest>